<!DOCTYPE html>
<html>
	
	<head>
		<title>Hystonix ~ Terms of Service</title>

		<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
	</head>
	<body>

		<div class="top">
			<div class="content">
			<h1>Hystonix Team > Terms of Service</h1>
			</div>
		</div>	
		<div class="content">
			<h2>An error has occured</h2>
			<p><%= error %></p>
		</div>
	</body>

</html>